<div class="graph-section">
  <div class="card-graph mdl-card mdl-shadow--2dp">
    <div id="container"></div>
  </div>
</div>

<script>
console.log('sessions hr', {{sessions.hr}});
console.log('sessions gsr', {{sessions.gsr}});
var hr_time = '';
var hr_data = '';
for(hr sessions.hr) {
  hr_time += hr[0];
  hr_data += hr[1];
}

var gsr_time = '';
var gsr_data = '';
for(gsr sessions.gsr) {
  gsr_time += hr[0];
  gsr_data += hr[1];
}

console.log('sessions hr data', hr_data);
console.log('sessions hr time', hr_time);
console.log('sessions gsr data', gsr_data);
console.log('sessions gsr time', gsr_time);
console.log('start', {{sessions.start_time}});
console.log('end', {{sessions.end_time}});
console.log('name', {{sessions.viewer_name}});
</script>

<script>
$(function () {
  $('#container').highcharts({
    chart: {
      zoomType: 'xy'
    },
    title: {
      text: '{{movie.movie_name}}'
    },
    tooltip: {
        shared: true,
        crosshairs: true
    },
    xAxis: [{
      labels: {
        format: '{value:%H:%M:%S}',
        rotation: 45,
        align: 'left'
      },
      crosshair: true
    }],
    yAxis: [{ // Primary yAxis
      labels: {
        format: '{value} bpm',
        style: {
          color: Highcharts.getOptions().colors[5]
        }
      },
      title: {
        text: 'Heart Rate',
        style: {
          color: Highcharts.getOptions().colors[5]
        }
      }
    }, { // Secondary yAxis
      title: {
        text: 'Galvanic Skin Response',
        style: {
          color: Highcharts.getOptions().colors[4]
        }
      },
      labels: {
        format: '{value} µS',
        style: {
          color: Highcharts.getOptions().colors[4]
        }
      },
      opposite: true
    }],
    tooltip: {
      shared: true
    },
    series: [{
      name: 'Heart Rate',
      type: 'line',
      data: {{sessions.hr}},
      tooltip: {
        valueSuffix: ' bpm'
      },
      color: Highcharts.getOptions().colors[5]
    }, {
      name: 'Galvanic Skin Response',
      type: 'line',
      yAxis: 1,
      data: {{sessions.gsr}},
      tooltip: {
        valueSuffix: ' µS'
      },
      color: Highcharts.getOptions().colors[4]
    }]
  });
});
</script>
